/*shared.css*/

/*layout*/
.pages {width: 100%; min-height: 900px;}
.pages .up-on-scroll {transition: transform .8s, opacity 1s;}

/*top*/
.top {display:flex; width: 100%; height: 95px; background: transparent; padding: 32.5px 100px; position: fixed;top: 0; z-index: 9999;}
.top .logo {width: 90px; height: 32px; background: url(resources/images/logo.svg)no-repeat center;}
.top .menu {display:flex; margin: 0 0 0 100px;}
.top .menu li {margin-right: 100px;}
.top .menu li a {color:#000; line-height: 32px; font-weight: 600;}

/*footer*/
.footer {overflow:hidden; width: 100%; height: 280px; background: #fff; padding:56px 70px 0;}
.footer li {float:left; width: 33.33%;}
.footer li:nth-child(1) {font-size:12px;}
.footer li:nth-child(4) {width: 100%;}